<%if(locals.user){%>
    <div id="chat-box">
        <div class="chat-list">
           <ul id="chat-message-list">
               <li class="others-message">
                 <span>Other message</span>
               </li>
               <li class="self-message">
                 <span>My message</span>
               </li>
           </ul>
        </div>
        <div class="message-box">
                <input type="text" id="chat-message-input" placeholder="Write your message here"/>
                <button id="send-message">Send</button>
        </div>
    </div>
    
<%}%>