<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>Codeial</title>
    <link rel="stylesheet" href="./styles/style.css">
</head>
<body>
    <h1>Header</h1>
    <ul>
        <%console.log(locals)%>
        <%if(locals.user){ %>
            <li><%=user.name%></li>
            <li><a href='/users/signout'>Signout</a></li>
        <%}else{%>
            <li>
                <a href="/users/signin">Sign in</a>
            </li>
            <li>
                <a href="/users/signup">Sign up</a>
            </li>
        <%}%>
    </ul>