
 <div>
     <form method="post" action="/users/createsession">
       <input type="email" name="email" placeholder="Enter Email"/>
       <input type="password" name="password" placeholder="Enter Password" />
       <button>Sign in</button>
     </form>
 </div>
 <p>
   <a href="/users/auth/google" >Google Signin/Signup</a>
 </p>