<%-include('header') %>
 <div>
     <form method="post" action="/create-user">
       <input type="email" name="email" placeholder="Enter Email"/>
       <input type="password" name="password" placeholder="Enter Password" />
       <button>Sign in</button>
     </form>
 </div>
<%-include('footer') %>