body {
  #header {
    background-color: #6166b3;
    height: 10%;
    display: flex;
    flex-direction: row;
    color: white;
    padding: 20px;
    h1 {
      font-size: 2rem;
    }
  }
  #right-header {
    position: absolute;
    right: 3rem;
    top: 30px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    flex-direction: row;
    li,
    a {
      margin: 0 10px;
      list-style: none;
      font-size: 1.5rem;
    }
  }
  #main {
    background-color: white;
    height: 100%;
    margin: 20px;
  }
  #footer {
    background-color: #152d35;
    color: white;
    text-align: center;
    height: 20%;
    font-size: 1rem;
    padding: 20px;
  }
}
