<div>
    <h1>Hii <%=comment.user.name%>!</h1>
    <br>
    <br>
    <p>You Commented <strong><%=comment.content%></strong> on a post which is just published</p>
    <br>
    <br>
    <p>Thanks!</p>
</div>